<div id="autocomplete-wrapper" class="autocomplete-wrapper">
  <input
    autocomplete="off"
    id="autocomplete-input"
    type="text"
    [placeholder]="searchPlaceholder"
    [(ngModel)]="searchTerm"
    (input)="search()"
  />
  <ng-container *ngIf="displayDropdown">
    <ul class="autocomplete-list">
      <li *ngFor="let item of filteredItems">
        <div
          class="pointer"
          (click)="selectItem(item)"
          [innerHTML]="getItemName(item) | charsBold : searchTerm"
        ></div>
      </li>
    </ul>
  </ng-container>
</div>
